body{
	font-family:'Lato', Helvetica Neue,Helvetica,Arial,sans-serif;
}


a,a:hover{
	text-decoration: none !important;
}
/*a:visited,a:unvisited{
	color: #000;
}*/
.al {
	position: absolute;
	left: 0;
	background-color: #fff;
    z-index: 100;padding: 0 !important;
    cursor: pointer;
}
.cp{
	cursor: pointer;
}
.oh{
	overflow: hidden;
}

.ar {
	position: absolute;
	right: 0;
	background-color: #fff;
    z-index: 100;padding: 0 !important;
    cursor: pointer;
}
.ar a,.al a{
	width: 30px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.wt{
	color: #fff;
	text-align: center;
}

/*MODAL*/
.modal-dialog{
	height: 100%;
}




.bold{
	font-weight: bold;
}
/*Margin & Paddings*/

.mt-18{
	margin-top: 18px;
}
.mt-13{
	margin-top: 13px;
}
.pd-0{
	padding: 0 !important;
}
.pd-5{
	padding: 0 5px;
}
.mt4{
	margin: 4px !important;
}

.pl8{
	padding: 0 8px !important;
}
.mt-50{
	margin-top: 50px;
}
.mr-35{
	margin-right: 35px;
}
.pl-15{
	padding-left: 15px;
}
.mr-15{
	margin-right: 15px;
}



.filter-item .form-group label{
	font-weight: normal;
}
.filter-item .form-group label input{
	vertical-align: top;
}



/*Backgrounds*/
.blue-bg{
	background-color: blue;
	padding: 1px;
}
.grey-bg{
	background-color: #eee;
}
.red-bg{
	background-color: red;
}
.green-bg{
	background-color:green ;
}
.yellow-text{
	color:yellow ;
}



/*Boxes*/
.sq-box{
	display: block;
	width: 35px;
	height: 35px;
	line-height: 35px;
	margin: 0 auto;
	color: #fff;
	border-radius: 4px;
}
.fullscreen{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: calc(100% + 180px);
	background-color: #ddd;
	z-index: 1000;
}


.fwn{
	font-weight: normal;
}
.fwn input{
	vertical-align: top;
}


/*Buttons*/
.btn{
	border-radius: 0;
}
.btn-red{
	background-color: #ff6666;
	border-bottom: 1px solid #dd0000;
	color: #fff !important;

}
.btn-red-wb1{
	background-color: #ff6666;
	/*border: 1px solid #ddd;*/
	color: #fff !important;
}
.btn-white{
	background-color: #fff;
	border: 1px solid #ddd;
	color: #8A8A8A !important
}

.btn-link{
	color: #6666B1;
	border: 1px solid #eee;
	font-weight: 600;
	box-shadow: 0 2px 1px #ddd;
}
.btn-link:hover,.btn-link:focus{
	border: 1px solid #ddd;
}
.btn-red:hover{

}
.btn-blue, .btn-blue:hover, .btn-blue:focus{
	background-color: #31BFD6 !important;
	color: #fff;
	height: 50px;
	font-size: large;
}
.btn-round{
    border-radius: 12.5px;
    border: 1px solid #ddd;
    width: 25px;
    height: 25px;
    margin: 14px 10px;
}
.btn-round i{
    line-height: 15px;
    margin-left: -5px;
}
.btn-facebook{
	height: 40px;
    margin-top: 20px;
    /*font-family: 'Open Sans' Sans;*/
    color: #fff !important;
    border-radius: 10px;
    background-color: #6d84b4
}
.btn-google{
	height: 40px;
    margin-top: 20px;
    /*font-family: 'Open Sans' Sans;*/
    color: #fff !important;
    border-radius: 10px;
    background-color: #dd4b39;
}




.block{
	display: block;
}
.ibw100{
	display: inline-block;
	width: 100%;
}

.smfg input{/*modal form form controls*/
	border-radius: 4px;
	border: 1px solid #ddd;
	height: 50px !important;
	line-height: 50px;
	text-indent: 20px
}
.smfg i{
	position: absolute;
    line-height: 50px;
    padding: 0 12px;
    font-size: 18;
    color: #737373;
}
.smfg>.btn{
	font-weight: bold;
}

.navbar-toggle{
	color: #ff6666;
	position: absolute;
}

.form-control{
	border-radius: 2px;
}
a.list-group-item{
    padding: 2px 15px;
}
.navbar-toggle{
	padding-left: 15px;
	padding-top: 5px;
}
.logo{
	display: block;
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
}
.jumbotron{
	/*height: calc(100vh - 80px);*/
	max-height: 468px;
    min-height: 468px;
	text-align: center;
	/*font-style: bold;*/
	background-color: rgba(0,0,0,0.4);
	background-image: url(../images/home_jumbotron.jpg);
	background-repeat: no-repeat;
	background-blend-mode:darken;
	background-size: cover;
}
.jumbotron>h2{
	text-transform: uppercase;
	color: #fff;
	margin-top: 80px;
}

.cats{
	font-weight: 600;
	font-size: 15px;
	color: #fff;
}
.block #search-bar{
	 width: 250px;
}
.block #search-bar>input[type=search]{
	margin: 10px 0;
	padding-right: 40px;
	height: 30px;
	font-size: 11px;
	border: 1px solid #ff6666;
}
#search-bar{
	display: block;
    margin: 0 auto;
}
#search-bar>input[type=search]{
	padding-right: 50px;
	text-align: center;
	height: 40px;
	margin-top:20px;
}
#search-bar>input[type=search]:focus{
	/*text-align: left;*/
}
#search-bar>button{
	margin-bottom: -40px;
	width: 50px;
	height: 40px;
}
.block #search-bar>button{
	width: 40px;
	height: 30px;
}
.form-control:focus{
	outline: none;
	/*border: none;*/
	border-color: #ddd !important;
	box-shadow: none;
}

.col-b{
	text-align: center;
	height: 60px;
	margin: 40px 0;
}
.col-c{
	text-align: center;
	height: 200px;
	margin: 40px 0;
	margin-bottom: 70px;
}
.col-d{
	text-align: center;
	height: 200px;
	margin: 10px 0;
	
}
.col-d>.image-container{
	background-size:cover
}

.col-c.scroller{
	text-align: left;
	vertical-align:top;
}

.image-container{
	max-width: 350px;
	width: 100%;
    background-repeat: no-repeat;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.2);
    background-blend-mode: darken;
}
.image-container>h4{
	padding-top: 150px;
	color: #fff;
}
.image-container>h4.vc{
	padding-top: 100px !important;
	font-weight: 600;
}
.image-container>h3{
	padding-top: 30px;
	font-weight: 600;
}
.image-container.ad{
	margin-left: 10px;
	display: inline-block;
	max-width: 350px;
	overflow: hidden;
	vertical-align:top;

}


footer{
	text-align: center;
	background:url(/images/footer.png) center center;
	background-color: rgba(0,0,0,0.5);
	background-blend-mode:darken;	
	height: 200px;
}
.footer-list{
	list-style: none;
	display: block;
	margin: 0 auto;
	padding: 15px 0;
}
.footer-list>li{
	display: inline-block;
	font-weight: bold;
}
.footer-list>li a{
	padding: 10px;
	color:#D0D0D0;
}
.fs{
	text-align: center;
	display: block;
}
.fs-item{
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius:20px;
	/*border: 2px solid #fff;*/
	vertical-align: text-top;
	color: #fff;
	padding: 10px;
	margin: 4px;
	font-size: 20px;
}
.fs-item:nth-child(1){
	background-color: #3b5998
}
.fs-item:nth-child(2){
	background-color:#88C8CA
}
.fs-item:nth-child(3){
	background-color: #BD081C
}
.fs-item:nth-child(4){
	background-color: #0e68ce
}
.fs-item:nth-child(5){
	background-color: #db4733
}
.copyright{
	margin: 20px;
	display: block;
	color: #fff;
}

.logo a img{
	width: 200px;
}


/*SEARCH PAGE*/
.result-page-header{
	background-color: #fff;
	margin-top: 20px;
}
.categories {
	list-style: none;
    overflow-x: auto;
    overflow-y: hidden;
    width: auto;
    white-space: nowrap;
    padding: 0 40px;
    border: 1px solid #ddd;
    border-right: none;
    border-left: none;

}
.categories li{
	display: inline-block;
	padding: 10px;
}
.categories li a{
	display: block;
}
.categories li.active a{
	border-bottom: 1px solid #000;
   /* border-right: none;
    border-left: none;*/
    /*text-decoration: underline !important;*/
    font-weight: bold;
}

.categories::-webkit-scrollbar {
	width: 2px;
	height: 1px;
	/*height: 10px;*/
}             /* 1 */
.categories::-webkit-scrollbar-button {
	
	}      /* 2 */
/*::-webkit-scrollbar-track {
	width: 1px;
	height: 1px;
	background-color: #ddd;
	}     
::-webkit-scrollbar-track-piece {}
::-webkit-scrollbar-thumb {}      
::-webkit-scrollbar-corner {}     
::-webkit-resizer {}              */

.result-list{
	display: inline-block;
	text-align: center;
	padding: 5px 10px;
	background-color: #eee;
	width: 100%;
}
.result-list-item{
	text-align: left;
	height: 240px;
	margin: 20px 0;
	box-shadow: 2px 8px 2px #E0D9D9;
}
.result-list-item .item{
	height: 200px;
	border-radius: 4px 4px 0 0;
	background-size: cover !Important;
	background-color: rgba(0,0,0,0.4);
	background-blend-mode:darken;
	background-position: center;
}
.item-name{
	color: #fff !Important;
}
.item.s{
	height: 200px;
	border-radius: 4px 4px 0 0;
    background-size: cover !Important;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: darken;
    background-position: center;
}
.item .item-infos{
	display: inline-block;
	color: #fff;
	margin-top: 50px;
	text-indent: 5px;
width: 100%;
}
.item-infos .item-address{
	white-space: nowrap;
}

.item-aminities>i{
	margin-right: 8px;
}
.item-sub-menu{
	height: 46px;
	text-align: center;
	background-color: #fff;
	border-radius: 0 0 4px 4px;
	margin-top: 2px;
}
.ism:first-child{
/*	padding: 8px;*/
	color: red;
}
.call{
	text-align: center;
    display: inline-block;
}
.call i{
	padding: 4px;
}
.item-cat{
	white-space: nowrap;
	overflow: hidden;
}
.ism{
	border: 1px solid #ddd;
    padding: 5px;
    margin: 4px 3px;
    display: inline-block;
}
.rate{
margin: 10px 0;
}



/*INVIDUAL*/

.sub-in-item{
	width: 100%;
}
.sub-in-item div{
	padding: 4px 8px 4px 0;
	display: inline-block;
	border: 1px solid #fff;
	cursor: pointer;
	font-size: 12px;
}
.rating{
	background-color: red;
	padding: 8px 8px 8px 4px;
	text-align: center;
	border-radius: 4px;
	width: 30px;
}
.photos{
	/*height: 100px;*/
}
.photos>div{
	width: 120px;
	height: 100px;
	text-align: center;
	display: inline-block;
	padding: 5px;
	overflow: hidden;
}
.photos>div>div{
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 4px;
	background-size: cover;
}
.photos img{
	height: 100px;
}
.report{
	margin-bottom: 10px;
}
.trust{
	text-align: center;
}

.map{
	width: 100%;
	height: 200px;
}
.filter-item{
	margin-top: 10px;
}
.filters .header{
    margin-bottom: 10px;
}
#filter-footer{
	position: fixed;
	bottom: 0;
	background-color: #fff;
	padding: 10px 15px;
	border-top: 1px solid #ddd;
}
.fullscreen{
	background-color: #fff;
}

.fullscreen h4{
	text-transform: uppercase;
}
.fullscreen .header{
    background-color: #6B6868;
    color: #fff;
}



/*MODAL FULLSCREEN*/

/* .modal-transparent */

.modal-transparent {
  background: transparent;
}
.modal-transparent .modal-content {
  background: transparent;
}
.modal-backdrop.modal-backdrop-transparent {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-transparent.in {
  opacity: .9;
  filter: alpha(opacity=90);
}

/* .modal-fullscreen */

.modal-fullscreen {
  background: #fff;/*transparent;*/
}
.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
     width: 1170px;
  }
}

/*SLIDES*/
 .slide-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .slide-list > li {
        display: inline;
    }

    .slide-list > li:hover {
        cursor: pointer;
    }

    .slide-list > li > img {
        width: 100%;
        height: 100%;
    }


 /******** SIDEBAR ****/
 .sidebar-backdrop{
    z-index: 400;
    top: 0;
    -webkit-transition: 0.6s all linear;
    bottom: 0;
    width: 100%;
    left: 0;
    position:fixed; 
    background:rgba(0,0,0,0.6);  
    height:100%;
    display: block;
 }
 .sidebar{
   	background-color: #fff;
    color: #fff;
    position: fixed;
    z-index: 500;
    top: 0;
    -webkit-transition: 0.6s all linear;
    bottom: 0;
    width: 70%;
    height: 100%;
    left: 0; 
    padding-top: 50px;
 }
 .sidebar.out{
 	left: -100%;
 	-webkit-transition: 1s all linear;
 }
 .sidebar-backdrop.out{
 	display: none;
 }
 .sidebar .list-group{
 	margin-top: 20px;
 }
 .sidebar .list-group a{
 	border:  none !important;
 }

 /*LOGIN MODAL*/
 #login_image{
 	height: 250px;
    width: 250px;
    margin: 0 auto;
    background: url('https://static.lookplex.com/images/1.2/assets/logosign.jpg');
    background-size: contain;
    background-repeat: none;
 }

 /*HOw it works*/
#modalhiw{
    background-color: #79cccd;
}

.hiw{
	background-image: url(images/hiw.svg);
	margin: 0 auto;
}
 .hiw:nth-child(2){ 	
    height: 250px;
    width: 150px;
 }
  .hiw:nth-child(4){
   	height: 250px;
    width: 350px;
    background-position-x: -250px;
 }
  .hiw:nth-child(6){
    height: 250px;
    width: 318px;
    background-position: -680px 3px;
 }
 .hiw-details{
 	color: #fff;
 	text-align: center;
 }

/*sponsored*/
 .sponsoredcover{
 	height: 300px;
 	background-size: cover;
 	color: #fff;
 	background-color: rgba(0,0,0,0.4);
 	background-blend-mode:darken;
 }
  .sponsoredcover h5{
	padding-top: 140px;
    padding-left: 20px;
  }
 .sponsoredcover h3{
  	padding: 10px 0;
    margin-left: 20px;
    border: 1px solid;
    display: inline-block;
    border-right: none;
    border-left: none;
  }

  /*home sponsored*/
  .promotion{
  	width: auto;
  	overflow: hidden;
  	white-space: nowrap;
  }
  .promotion a.image-container{
  	display: inline-block;

  }
.user{
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}
  .user a span{
  	font-size: 24px;
    line-height: 50px;
    vertical-align: middle;
    margin-left: 10px;
    white-space: nowrap;
  }