a,a:hover{
	text-decoration: none !important;
}

.navbar-toggle{
	color: blue;
}
.mt-50{
	margin-top: 50px;
}
.form-control{
	border-radius: 0;
}
.navbar-toggle{
	padding-left: 10px;
	padding-top: 10px;
}
.logo{
	display: block;
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
}
.jumbotron{
	height: calc(100vh - 80px);
	max-height: 620px;
    min-height: 620px;
	text-align: center;
	/*font-style: bold;*/
	background-color: rgba(0,0,0,0.4);
	background-image: url(../images/home_jumbotron.jpg);
	background-repeat: no-repeat;
	background-blend-mode:darken;
	background-size: contain;
}
.jumbotron>h2{
	text-transform: uppercase;
	color: #fff;
	margin-top: 80px;
}

.cats{
	font-weight: 600;
	font-size: 15px;
	color: #fff;
}
#search-bar>input[type=search]{
	padding-right: 50px;
	text-align: center;
	height: 40px;
	margin-top:20px;
}
#search-bar>input[type=search]:focus{
	/*text-align: left;*/
}
#search-bar>button{
	margin-bottom: -40px;
	width: 50px;
	height: 40px;
}
.form-control:focus{
	outline: none;
	/*border: none;*/
	border-color: #ddd !important;
	box-shadow: none;
}
.btn{
	border-radius: 0;
}
.btn-red{
	background-color: #ff6666;
	border-bottom: 2px solid #dd0000;
	color: #fff !important;

}
.btn-link{
	color: #6666B1;
	border: 1px solid #eee;
	font-weight: 600;
	box-shadow: 0 2px 1px #ddd;
}
.btn-link:hover,.btn-link:focus{
	border: 1px solid #ddd;
}
.btn-red:hover{

}
.col-b{
	text-align: center;
	height: 60px;
	margin: 40px 0;
}
.col-c{
	text-align: center;
	height: 200px;
	margin: 40px 0;
	margin-bottom: 70px;
}
.col-d{
	text-align: center;
	height: 200px;
	margin: 10px 0;
	
}
.col-d>.image-container{
	background-size:cover
}
.col-c.scroller{
	text-align: left;
	vertical-align:top;
}

.image-container{
	max-width: 350px;
	width: 100%;
    background-repeat: no-repeat;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.2);
    background-blend-mode: darken;
}
.image-container>h4{
	padding-top: 150px;
	color: #fff;
}
.image-container>h4.vc{
	padding-top: 100px !important;
}
.image-container>h3{
	padding-top: 30px;
	font-weight: 600;
}
.image-container.ad{
	margin-left: 10px;
	display: inline-block;
	max-width: 350px;
	overflow: hidden;
	vertical-align:top;

}


footer{
	text-align: center;
	background-color: #464545;
	height: 200px;
}
.footer-list{
	list-style: none;
	display: block;
	margin: 0 auto;
	padding: 15px 0;
}
.footer-list>li{
	display: inline-block;
	font-weight: bold;
}
.footer-list>li a{
	padding: 10px;
	color:#D0D0D0;
}
.fs{
	text-align: center;
	display: block;
}
.fs-item{
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius:25px;
	/*border: 2px solid #fff;*/
	vertical-align: text-top;
	padding: 5px;
	color: #fff;
	margin: 7px;
}
.fs-item:nth-child(1){
	background-color: #3b5998
}
.fs-item:nth-child(2){
	background-color:#88C8CA
}
.fs-item:nth-child(3){
	background-color: #BD081C
}
.fs-item:nth-child(4){
	background-color: #0e68ce
}
.fs-item:nth-child(5){
	background-color: #db4733
}
.copyright{
	margin: 20px;
	display: block;
	color: #fff;
}

.logo a img{
	width: 200px;
}