<div ng-controller="HomeController as hc">
	<div class="jumbotron">
		<h2>Let's Look New Today</h2>
		<span class="cats">Salon.Spa.Gym.Makeup Artists.Slimming.Dieticians.Yoga.Nail Art.Tattoo.Piercing.Mehendi.</span>
		<div class="col-md-10 col-md-offset-1 mt-50">
			<div class="form-group" id="search-bar" tabIndex="-1" data-toggle="modal" data-target="#modal-search" >
				<button class="btn btn-red pull-right" ng-click="hc.search()"><i class="fa fa-search "></i></button>
				<input type="search"  class="form-control" ng-model="hc.query" placeholder="Search grooming services near you"
				class="form-control">
				<!-- Need to adjust text align on hover with angular-->
			</div>
		</div>
	</div>
	<section class="col-b">
		<div class="header">
			<h4>--Come One, Come All--</h4>
		</div>
		<div class="body">
			Experience the craft of extraordinary expertise in beaty, wellness and fitness world
		</div>
	</section>
	<section class="col-c promotion" ><!-- South Extension Part 1, Delhi 1284-->
		<a href="show/profile/Toni%20&%20Guy/158/Z78I2ZE66Q/" class="image-container" style="background:url(https://pt.lookplex.com/GY5C4UD2MRU8WPF2WYX61M8TRP_small) 50% 50% / cover;">
		</a>
		<a href="show/profile/Guneet%20Virdi/1284/0PNTCN3B2Y/" class="image-container" style="background:url(https://pt.lookplex.com/L1C1BUWPONSAQ56O8KDO75ALXL_small) 50% 50% / cover;">
		</a>
		<a href="show/profile/Affinity%20Salon/384/C44WLJ2S1L/" class="image-container" style="background:url(https://pt.lookplex.com/PA17RDSSCWB8T9XM4OOE6JECVG_small) 50% 50% / cover;">
		</a>
		<a href="show/profile/Modern%20Affinity%20Unisex%20Saloon/1193/L7DTSISC15/" class="image-container" style="background:url(https://pt.lookplex.com/HSRMK073MZ2QUS0FWSNZI06GXK_small) 50% 50% / cover;">
		</a>	
	</section>

	<section class="col-b" id="discover">
		<div class="header">
			<h4>--Hand Picked for You--</h4>
		</div>
		<div class="body">
			We pioneer in art profession. You'll just love to get pampered by us.
		</div>
	</section>
	<section class="col-c" >
<div class="image-container" 
	style="background-image:url(images/photoclub1.jpg);background-position: -360px 0;" ng-click="hc.visithandPicked('2,4,5')">
			<h4>Cut Above the Rest</h4>
			<h3>Salon</h3>
		</div>	
	</section>
	<section class="col-c" >
		<div class="image-container" style="background-image:url(images/photoclub1.jpg);" 
		ng-click="hc.visithandPicked('1')">
			<h4>Time waits here</h4>
			<h3>Spa</h3>
		</div>	
	</section>
	<section class="col-c" >
		<div class="image-container" style="background-image:url(https://static.lookplex.com/images/1.2/collections/photoclub3.jpg);    background-position: -30px -85px;" 
		ng-click="hc.visithandPicked('3')">
			<h4>Shape up. Build up</h4>
			<h3>Gym</h3>
		</div>	
	</section>
	<section class="col-c" ng-show="!hc.sm_hp">
		<div class="image-container" style="background-image:url(images/photoclub1.jpg);background-position: -1079px 0;"
		ng-click="hc.visithandPicked('8')">
			<h4>The Eye Candy</h4>
			<h3>Makeup Artist</h3>
		</div>	
	</section>
	<section class="col-c" ng-show="!hc.sm_hp">
		<div class="image-container" style="background-image:url(https://static.lookplex.com/images/1.2/collections/photoclub3.jpg);background-position: -1079px 0;"
		ng-click="hc.visithandPicked('11')">
			<h4>Cult in the making</h4>
			<h3>Nail Art</h3>
		</div>	
	</section>
	<section class="col-c" ng-show="!hc.sm_hp">
		<div class="image-container" style="background-image:url(images/photoclub1.jpg);    background-position: -1429px -30px;"
		ng-click="hc.visithandPicked('7')">
			<h4>Your look has come</h4>
			<h3>Slimming & Cosmetology</h3>
		</div>	
	</section>
	<section class="col-c" ng-show="!hc.sm_hp">
		<div class="image-container" style="background-image:url(images/photoclub1.jpg);    background-position: -1779px -40px;"
		ng-click="hc.visithandPicked('9')">
			<h4>Eat Right Look Bright</h4>
			<h3>Dieticians & Nutritionists</h3>
		</div>	
	</section>
	<section class="col-c" ng-show="!hc.sm_hp">
		<div class="image-container" style="background-image:url(https://static.lookplex.com/images/1.2/collections/photoclub3.jpg);    background-position: -1429px -20px;"
		ng-click="hc.visithandPicked('14')">
			<h4>Art the body</h4>
			<h3>Tattoo & Piercing</h3>
		</div>	
	</section>
	<section class="col-c" ng-show="!hc.sm_hp">
		<div class="image-container" style="background-image:url(https://static.lookplex.com/images/1.2/collections/photoclub3.jpg);    background-position: -1780px -80px;"
		ng-click="hc.visithandPicked('10')">
			<h4>Fitness with peace</h4>
			<h3>Yoga & Aerobics</h3>
		</div>	
	</section>
	<section class="col-c" ng-show="!hc.sm_hp">
		<div class="image-container" style="background-image:url(https://static.lookplex.com/images/1.2/collections/photoclub3.jpg);    background-position: -730px -80px;"
		ng-click="hc.visithandPicked('13')">
			<h4>The classy traditional</h4>
			<h3>Mehendi</h3>
		</div>	
	</section>

	<section class="col-b">
		<a href="#discover" class="btn btn-link" ng-if="!hc.sm_hp" ng-click="hc.togglemore(2)"
		>See Less</a>
		<a class="btn btn-link" ng-if="hc.sm_hp" ng-click="hc.togglemore(2)">See More</a>
	</section>

	<section class="col-b" id="popular">
		<div class="header">
			<h4>--Popular in Town--</h4>
		</div>
		<div class="body">
			A collection of establishments offering world class services in your neighbourhood
		</div>
	</section>

	<section class="col-d" ng-repeat="popular in hc.popular" ng-hide="$index>2 && hc.sm_popular" ng-click="hc.visitPopular(popular.id,popular.guid)">
		<!-- sm_popular== showing all -->
		<div class="image-container" style="background-image:url({{popular.background}});">
			<h4 class="vc">{{popular.name}}</h4>			
		</div>	
	</section>
	<section class="col-b">
		<a href="#popular"class="btn btn-link" ng-if="!hc.sm_popular" ng-click="hc.togglemore(1)">See Less</a>
		<a class="btn btn-link" ng-if="hc.sm_popular" ng-click="hc.togglemore(1)">See More</a>
	</section>
	
</div>