<!DOCTYPE html>
<html ng-app="lookplex">
<head>
	<title>Lookplex</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet"></link>
	<link type="text/css" href="/css/bootstrap-theme.min.css" rel="stylesheet"></link>
	<link type="text/css" href="/css/font-awesome.min.css" rel="stylesheet"></link>
	<link type="text/css" href="/css/main.css" rel="stylesheet"></link>
	<base href="/">
</head>

<body ng-init="sidebar=false">

<div class="modal modal-fullscreen fade" id="modal-search" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header grey-bg">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <center><h4 class="modal-title" id="myModalLabel">Search</h4></center>
      </div>
      <div class="modal-body">

			<div class="form-group smfg">
				<i class="fa fa-map-marker pull-left"></i>
				<input class="form-control" type="text" ng-model="location.query.location" placeholder="Search by city, landmark or colony"></input>
			</div>
			<div class="list-group" ng-show="location.locationList.length">
				<a class="list-group-item" ng-repeat="x in location.locationList" ng-click="selectBlock(x.id,x.guid, x.locationName)"><i class="fa fa-map-marker pull-left"></i> {{x.locationName}}</a>
			</div>
			<div class="form-group smfg">
				<input class="form-control" type="text" ng-model="cat" placeholder="Select your service"  ng-blur="category.show=false"   ng-focus="category.show=true" ></input>
			</div>
			<div class="list-group" ng-show="category.show">
				<a class="list-group-item" ng-repeat="x in categoriesList|filter:cat" ng-mousedown="selectCategory(x.id,x.name)"><!-- <i class="fa fa-map-marker pull-left"></i> --> {{x.name}}</a>
			</div>

			<button class="btn btn-blue form-control" ng-click="search()"><b>Search</b></button>


      </div>
    </div>
  </div>
</div>

<div class="modal modal-fullscreen fade" id="modalhiw" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
      	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      	<div class="col-md-12 hiw" style="background-image:url(images/hiw.svg)"></div>
      	<div class="hiw-details col-md-12">
      		<h4>Search</h4>
      		<p>Discover the Beauty, Wellness and Fitness destinations around you.</p>
      	</div>
      	<div class="col-md-12 hiw" style="background-image:url(images/hiw.svg)"></div>
      	<div class="hiw-details col-md-12">
      		<h4>VISIT</h4>
      		<p>Visit the grooming centers of your choice to find your best self again.</p>
      	</div>
      	<div class="col-md-12 hiw" style="background-image:url(images/hiw.svg)"></div>
      	<div class="hiw-details col-md-12">
      		<h4>RATE AND REVIEW</h4>
      		<p>Rate, review and share your look experiences in your social circles.</p>
      	</div>

      </div>
    </div>
  </div>
</div>

<div class="modal modal-fullscreen fade" id="modallogin" tabindex="-1" role="dialog" aria-hidden="true" class="loginmodal" ng-controller="LoginController as lc">
	<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      	 <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      	 <!-- <center><h4 class="modal-title" >Login</h4></center> -->
      </div>
      <div class="modal-body">
      	<div class="col-md-12" id="login_image"></div>
      		<button class="btn btn-facebook form-control" ng-click="lc.facebooklogin()">
      			<i class="fa fa-facebook" ></i> &nbsp; Log In with Facebook
      		</button>
      		<button class="btn btn-google form-control" ng-click="lc.googlelogin()">
      			<i class="fa fa-google-plus" ></i> &nbsp; Log In with Google+
      		</button>
      </div>
      <div class="modal-footer" style="text-align: left;">
      	<small>By signing in, you agree to Lookplex's <a href=""><b>Terms of Service</b></a> and <a href=""><b>Privacy Policy</b></a></small>
      </div>
     </div>
    </div>
</div>

<header>
	<span class="pull-left navbar-toggle" ng-click="sidebar=!sidebar"> 
		<i class="fa fa-bars"></i>
	</span>
	<div ng-show="islanding">
		<div class="clearfix logo">
			<a href="/#/"><img src="images/logo_mobile.png"></a>
		</div>
	</div>
	<div ng-show="!islanding" class="clearfix">
		<div class="btn btn-round pull-right" ng-show="showFilter" ng-click="showFilters=!showFilters"><i class="fa fa-filter"></i></div>
		<div class="block">
			<div class="form-group" id="search-bar"  data-toggle="modal"  data-target="#modal-search" >
			<button class="btn btn-red pull-right" ><i class="fa fa-search "></i></button>
			<input type="search" tabIndex="-1" class="form-control" placeholder="Search grooming services near you">
			<!-- Need to adjust text align on hover with angular-->
			</div>
		</div>	
	</div>
	
</header>
<div class="clearfix sidebar" ng-class="{'out':!sidebar}" ng-controller="SideBarCtrl as sbc">
	<div class="list-group">
		<a class="list-group-item" ng-click="sbc.home()">Home</a>
		<a class="list-group-item" data-toggle="modal" data-target="#modallogin" ng-click="sbc.toggleSideBar()" ng-show='!sbc.isAuthenticated()'>Log In</a>
		<a class="list-group-item" data-toggle="modal" data-target="#modal-search" ng-click="sbc.toggleSideBar()">Search</a>
		<a class="list-group-item"  ng-click="sbc.discover()">Discover</a>
		<a class="list-group-item" data-toggle="modal" data-target="#modalhiw" ng-click="sbc.toggleSideBar()" >How it Works</a>
	</div>
	
</div>
<div class="content clearfix" ng-hide="sidebar" ng-view>
	
</div>

<footer ng-show="!showFilters">
	<div>
		<ul class="footer-list">
			<li><a href="/#/" >About us</a> </li>
			<li><a href="/#/" >Contact us</a> </li>
			<li><a href="/#/" >Free Listing</a> </li>
			<li><a href="/#/" >Advertise</a> </li>
			<li><a href="/#/" >Privacy</a> </li>
			<li><a href="/#/" >Terms of Service</a> </li>
		</ul>
	</div>
	<div class="clearfix fs">
		<a href="/#/" class="fs-item"><i class="fa fa-facebook "></i> </a>
		<a href="/#/" class="fs-item"><i class="fa fa-twitter "></i></a>
		<a href="/#/" class="fs-item"><i class="fa fa-pinterest "></i></a>
		<a href="/#/" class="fs-item"><i class="fa fa-instagram "></i></a>
		<a href="/#/" class="fs-item"><i class="fa fa-google-plus "></i></a>
	</div>
	<span class="copyright">&copy; Lookplex.com</span>
</footer>
</body>
<script type="text/javascript" src="js/lib/jquery.min.js"></script>
<script type="text/javascript" src="js/lib/angular.min.js"></script>
<script type="text/javascript" src="js/lib/angular.route.min.js"></script>
<script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="js/lib/underscore.js"></script>
<script type="text/javascript" src="js/app/app.js"></script>
<script type="text/javascript" src="js/controller/controller.js"></script>
<script type="text/javascript" src="js/directive/directive.js"></script>
<script type="text/javascript" src="js/filters/filters.js"></script>
<script type="text/javascript" src="js/service/service.js"></script>

<script src="bower_components/ng-facebook/ngFacebook.js"></script>
<script src="bower_components/angular-google-plus/dist/angular-google-plus.min.js"></script>


<!-- Core CSS file -->
<link rel="stylesheet" href="/bower_components/photoswipe/dist/photoswipe.css"> 
<link rel="stylesheet" href="/bower_components/photoswipe/dist/default-skin/default-skin.css">

<!-- PHOTOSWIPE -->
<script type="text/javascript" src="bower_components/photoswipe/dist/photoswipe.js"></script>
<script type="text/javascript" src="bower_components/photoswipe/dist/photoswipe-ui-default.min.js"></script>

<script type="text/javascript" src="bower_components/ng-photoswipe/angular-photoswipe.js"></script>
<script src="https://maps.google.com/maps/api/js?libraries=placeses,visualization,drawing,geometry,places"></script>
<script type="text/javascript" src="js/lib/ng-map.min.js"></script>

</html>